recursive-include lib/rfk/static *.js *.css *.txt *.eot *.ttf *.woff *.otf *.svg *.png *.gif *.ico
recursive-include lib/rfk/templates *.html *.liq
recursive-include lib/rfk/translations *.po
include etc/rfk-config.cfg