recursive-include lib/rfk/static *.js *.css *.txt *.eot *.ttf *.woff *.otf *.svg *.png
recursive-include lib/rfk/templates *.html
recursive-include lib/rfk/translations *.po
include etc/rfk-config.cfg