{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
<h1>{% trans %}Radio Freies Krautchan{% endtrans %}</h1>
</div>
<div class="row-fluid">
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
               <h3>irgendwas</h3>
           </div>
           <div class="widget-content">
            text
           </div>
       </div>
       
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
               <h3>irgendwas</h3>
           </div>
           <div class="widget-content">
            text
           </div>
       </div>
       
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
           <h3>irgendwas</h3>
           </div>
           
       <div class="widget-content">
        text
       </div>
       </div>
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
           <h3>irgendwas</h3>
           </div>
           
       <div class="widget-content">
        text
       </div>
       </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
               <h3>irgendwas</h3>
           </div>
           <div class="widget-content">
            text
           </div>
       </div>
       
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
               <h3>irgendwas</h3>
           </div>
           <div class="widget-content">
            text
           </div>
       </div>
       
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
           <h3>irgendwas</h3>
           </div>
           
       <div class="widget-content">
        text
       </div>
       </div>
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
           <h3>irgendwas</h3>
           </div>
           
       <div class="widget-content">
        text
       </div>
       </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
               <h3>irgendwas</h3>
           </div>
           <div class="widget-content">
            text
           </div>
       </div>
       
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
               <h3>irgendwas</h3>
           </div>
           <div class="widget-content">
            text
           </div>
       </div>
       
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
           <h3>irgendwas</h3>
           </div>
           
       <div class="widget-content">
        text
       </div>
       </div>
    </div>
    <div class="span3">
       <div class="widget-box">
           <div class="widget-title">
           <h3>irgendwas</h3>
           </div>
           
       <div class="widget-content">
        text
       </div>
       </div>
    </div>
</div>
{% for n in news %}
<div class="newscontainer">
    <div class="newsheader">
        <div class="date">
            {{ n.time | datetimeformat }}
        </div>
        <span>{{ n.title }}</span>
    </div>
    {{ n.content |bbcode|safe }}
</div>

{% endfor %}
{% endblock %}