{% extends "base.html" %}
{% block content %}<h1>{% trans %}Listeners{% endtrans %}</h1>
<h3>Today</h3>
<div class="row-fluid">
<div class="span12" id="listenergraph-today" style="height:150px;"></div>
</div>
<h3>Last Week</h3>
<div class="row-fluid">
<div class="span12" id="listenergraph-week" style="height:150px;"></div>
</div>
<!-- <div class="row-fluid">
<div class="span12" id="listenergraph-month" style="height:150px;"></div>
</div> -->
<script>
$(function() {
	
	function showTooltip(x, y, contents) {
        $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
	

	function load_graph(placeholder, timespan) {
		  function onDataReceived(series) {

		        var data = [];
		        
		        var options = {
		                series: {
		                    shadowSize: 0,
		                    stack: true
		                },
		                lines: {
		                    show: true,
		                    steps: true
		                },
		                yaxis: {
		                    min: 0
		                },
		                xaxis: {
		                    mode: "time",
		                    //minTickSize: [1, "year"],
		                    //min: (new Date(2010, 0, 1)).getTime(),
		                    //max: (new Date(2011, 0, 1)).getTime()
		                },
		                crosshair: {
		                    mode: "x"
		                },
		                grid: {
		                    hoverable: true,
		                    autoHighlight: false,
		                    markings: []
		                },
		                legend: {
		                    show: true,
		                    noColumns: 7,
		                    position: "nw"
		                }
		            };
		        $.each(series['data'], function(index,value){
		            data.push({
		                label: index+ ' = 00',
		                data: value,
		                lines: { show: true,steps: true}
		            });
		        });
		        $.each(series['shows'], function(index,value){
		            options.grid.markings.push({color: '#ddd', lineWidth: 1, xaxis: { from: value['b']*1000, to: value['e']*1000 }});
		        });
		        var plot = $.plot("#"+placeholder.attr('id'), data, options);
		        var legends = $("#"+placeholder.attr('id')+" .legendLabel");
		        
		        
		        var updateLegendTimeout = null;
		        var latestPosition = null;

		        function updateLegend() {

		            updateLegendTimeout = null;

		            var pos = latestPosition;

		            var axes = plot.getAxes();
		            if (pos.x < axes.xaxis.min || pos.x > axes.xaxis.max ||
		                pos.y < axes.yaxis.min || pos.y > axes.yaxis.max) {
		                return;
		            }

		            var i, j, dataset = plot.getData();
		            for (i = 0; i < dataset.length; ++i) {

		                var series = dataset[i];

		                // Find the nearest points, x-wise

		                for (j = 0; j < series.data.length; ++j) {
		                    if (series.data[j][0] > pos.x) {
		                        break;
		                    }
		                }
		                var y,
		                    p1 = series.data[j - 1],
		                    p2 = series.data[j];

		                if (p1 == null) {
		                    y = p2[1];
		                } else {
		                    y = p1[1];
		                }

		                legends.eq(i).text(series.label.replace(/=.*/, "= " + y.toFixed(0)));
		            }
		        }
		        
		        var previousShow = null;
		        placeholder.bind("plothover", function (event, pos, item) {
		            latestPosition = pos;
		            if (!updateLegendTimeout) {
		                updateLegendTimeout = setTimeout(updateLegend, 50);
		            }
		            
		            var show = null;
		            //alert('irgendwas');
		            $.each(series['shows'], function(index,value){
		                if (value['b']*1000 <= pos.x && value['e']*1000 >= pos.x) {
		                    show = index;
		                    
		                    return false;
		                } 
		            });
		            if (show) {
		                if (previousShow != show) {
		                    previousShow = show;
		                    $("#tooltip").remove();
		                    showTooltip(pos.pageX, pos.pageY,series['shows'][show]['name']);
		                    
		                }
		            } else {
		                $("#tooltip").remove();
		                previousShow = null;
		            }

		        });
		        
		    }
		
		$.ajax({
	        url: '/api/site/listenergraphdata/'+timespan,
	        type: "GET",
	        dataType: "json",
	        success: onDataReceived
	    });
	}
	load_graph($('#listenergraph-today'), '-1 days');
	load_graph($('#listenergraph-week'), '-7 days');
	//load_graph($('#listenergraph-month'), '-31 days');
});
</script>
{% endblock %}

