{% from "_helpers.html" import render_field_horizontal %}
{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
<h1>{% trans %}Login{% endtrans %}</h1>
<div class="span12">


<form class="form-horizontal" method="post">
{{ render_field_horizontal(form.username) }}
{{ render_field_horizontal(form.password) }}
{{ render_field_horizontal(form.remember) }}
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="btn" href="/register">Register</a>
  </div>
</div>
</form>
</div>
{% endblock %}