<header>
	<span id="stationname">RFK</span>
</header>
<div id="menu_user">
{% if current_user.name %}
{{ current_user.name }}
<a href="/logout"><span class="ui-icon ui-icon-arrowreturn-1-e" style="display:inline-block"></span></a>
{% else %}
<a id="login-link" onclick="login();">{% trans %}Login{% endtrans %}</a>
{% endif %}
</div>
<div id="menu">
	<ul id="navlist">
		<li>
			<a href="#">{% trans %}News{% endtrans %}</a>
		</li>
		<li>
			<a href="#">{% trans %}Shows{% endtrans %}</a>
		</li>
		<li>
			<a href="#">{% trans %}Listen{% endtrans %}</a>
		</li>
		<li>
			<a href="#">{% trans %}Donations{% endtrans %}</a>
		</li>
		<li>
			<a href="#">{% trans %}Help{% endtrans %}</a>
		</li>
	</ul>
</div>

{% if not current_user.name %}
<script type="text/javascript">
function login() {
    var notice = $.pnotify({
        text: $('#login-form').html(),
        icon: false,
        width: 'auto',
        hide: false,
        sticker: false,
        insert_brs: false,
        history: false,
        before_open: function(pnotify) {
        	$('#login-link').hide();
        },
        before_close: function(pnotify) {
        	$('#login-link').show();
        }
        });
    return false;
}
</script>
<div id="login-form">
<form method="post" action="/login">
<table>
<tr><td>{% trans %}Username{% endtrans %}</td><td><input type="text" name="username"></td></tr>
<tr><td>{% trans %}Password{% endtrans %}</td><td><input type="password" name="password"></td></tr>
<tr><td><nobr>{% trans %}Remember me{% endtrans %}</nobr></td><td><input type="checkbox" name="remember"></td></tr>
</table>
<input type="submit" value="Login">
</form>
</div>
{% endif %}