{% extends "base.html" %}
{% block content %}<h1>Register</h1>
<div class="panel">
<form method="post">
<table>
<tr><td>Username</td><td><input name="username" /></td></tr>
<tr><td>Password</td><td><input name="password" type="password" /></td></tr>
<tr><td>retype</td><td><input name="password_confirmation" type="password" /></td></tr>
<tr><td>Streampassword</td><td><input name="stream_password" type="password" /></td></tr>
<tr><td>retype</td><td><input name="stream_password_confirmation" type="password" /></td></tr>
<tr><td>&nbsp;</td><td><input type="submit"></td></tr>
</table>
</form>
</div>
{% endblock %}