{% set sidebar=True %}
{% extends "base.html" %}
{% block sidebar %}
{% include "admin/sidebar.html" %}
{% endblock %}

{% block content %}
<style>
.log {
    overflow: auto;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
.log .entry:before,
.log .entry:after {
  display: table;
  line-height: 0;
  content: "";
}

.log .entry:after {
  clear: both;
}

.log .entry:nth-child(odd) {
background-color: #f9f9f9;
}
.log .entry:nth-child(even) {
background-color: #f5f5f5;
}
.log .log-message {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 5px;
}
.log .log-timestamp {
  float: left;
  width: 200px;
  /*padding-top: 5px;*/
  text-align: right;
  vertical-align: middle;
}


</style>
<script>
$(function() {
	
	var offset = 0;
	
	function update_log(data) {
		if (data.error) {
			append_log('','Could not get Logs (Error:'+data.error+') retrying in 10 seconds');
			setTimeout(poll_log, 10000);
		}
		offset = data.offset;
		$.each(data.log, function(index, line){
			append_log(line[0], line[1]);
		})
		setTimeout(poll_log, 500);
	}
	
	function append_log(timestamp, message) {
		$('<div class="entry"><div class="log-timestamp">'+timestamp+'</div><div class="log-message">'+message+'</div></div>').appendTo('#logviewer');
		$("#logviewer").scrollTop($("#logviewer")[0].scrollHeight);
	}
	
	function poll_log() {
		$.ajax({
	        url: '/api/site/admin/liquidsoap/log',
	        type: "GET",
	        data: {offset: offset},
	        dataType: "json",
	        success: update_log
	    });
    }
	poll_log();
	
	function update_status(data) {
		if (data.error) {
			$('#liquidsoap-version').html('Offline');
			$('#liquidsoap-uptime').html('Offline');
			setTimeout(poll_status, 5000);
			return;
		}
		if (data.version) {
			$('#liquidsoap-version').html(data.version);
		}
		if (data.uptime) {
            $('#liquidsoap-uptime').html(data.uptime);
        }
		$.each(data.sources, function(index, source){
			id = source.handler.replace('(dot)', '.');
			id = id.replace('/', '');
			
			if ($('#sources #'+id).length == 0) {
				$('<button class="btn" id="'+id+'"><span class="label label-success"><i class="icon-off"></i></span> '+source.handler+'</button>').appendTo('#sources');
			}
			var label = $('#sources #'+id+' span');
            if (source.status) {
                label.removeClass('label-error');
                label.addClass('label-success');
            } else {
                label.removeClass('label-success');
                label.addClass('label-error');
            }
		});
		$.each(data.sinks, function(index, sink){
            id = sink.handler.replace('(dot)', '-');
            id = id.replace('/', '');
            
            if ($('#sinks #'+id).length == 0) {
                $('<button class="btn" id="'+id+'"><span class="label"><i class="icon-off"></i></span> '+sink.handler+'</button>').appendTo('#sinks');
            }
            var label = $('#sinks #'+id+' span');
            if (sink.status) {
            	label.removeClass('label-error');
                label.addClass('label-success');
            } else {
            	label.removeClass('label-success');
            	label.addClass('label-error');
            }
        });
		setTimeout(poll_status, 2500);
	}
	
	function poll_status() {
        $.ajax({
            url: '/api/site/admin/liquidsoap/status',
            type: "GET",
            dataType: "json",
            success: update_status
        });
    }
	
	poll_status();
});

function after_command(data) {
    
}

function shutdown() {
    $.ajax({
        url: '/api/site/admin/liquidsoap/shutdown',
        type: "GET",
        dataType: "json",
        success: after_command
    });
    return false;
}

function start() {
    $.ajax({
        url: '/api/site/admin/liquidsoap/start',
        type: "GET",
        dataType: "json",
        success: after_command
    });
    return false;
}
</script>
<div class="row-fluid">
<div class="span3">
    <div class="well">
        <strong>Version:</strong> <span id="liquidsoap-version">Unknown</span><br>
        <strong>Uptime:</strong> <span id="liquidsoap-uptime">Unknown</span>
    </div>
</div>
<div class="span9">
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-wrench"></i> Liquidsoap <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="start();">Start</a>
			</li>
			<li>
                <a href="#" onclick="shutdown();">Stop</a>
			</li>
        </ul>
    </div>
    <div class="btn-group" id="sources">
    </div>
    <div class="btn-group" id="sinks">
    </div>
</div>
</div>
</div>
<div class="row-fluid">
<div class="span12">
<div class="log" id="logviewer" style="height:300px;"></div>

</div>
</div>
{% endblock %}