
{% set sidebar=True %}
{% extends "base.html" %}
{% block sidebar %}
{% include "admin/sidebar.html" %}
{% endblock %}

{% block content %}
<style>
.log {
    overflow: auto;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
.log .entry:before,
.log .entry:after {
  display: table;
  line-height: 0;
  content: "";
}

.log .entry:after {
  clear: both;
}

.log .entry:nth-child(odd) {
background-color: #f9f9f9;
}
.log .entry:nth-child(even) {
background-color: #f5f5f5;
}
.log .log-message {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 5px;
}
.log .log-timestamp {
  float: left;
  width: 200px;
  /*padding-top: 5px;*/
  text-align: right;
  vertical-align: middle;
}
.btn-toolbar2 >.btn-group + .btn-group {
margin-left: -5px;
}

.btn-toolbar2 > .btn-group > .btn, .btn-toolbar2 > .btn-group > .dropdown-toggle
{
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-toolbar2 > .btn-group:first-child > .btn, .btn-toolbar2 > .btn-group:first-child > .dropdown-toggle{
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;    
}

.btn-toolbar2 > .btn-group:last-child > .btn:last-child, .btn-toolbar2 > .btn-group:last-child > .dropdown-toggle:nth-last-child(2){
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;    
}

</style>
<h2>Liquidsoap Monitor</h2>
<div class="row-fluid">
<div class="span3">
    <div class="well">
        <strong>Version:</strong> <span id="liquidsoap-version">Unknown</span><br>
        <strong>Uptime:</strong> <span id="liquidsoap-uptime">Unknown</span>
    </div>
</div>
<div class="span9">
<div class="btn-toolbar btn-toolbar2" id="liquidsoap-toolbar">
    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-wrench"></i> Liquidsoap <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="start();">Start</a>
			</li>
			<li>
                <a href="#" onclick="shutdown();">Stop</a>
			</li>
        </ul>
    </div>
</div>
</div>
</div>
<div class="row-fluid">
<div class="span12">
<div class="log" id="logviewer" style="height:300px;"></div>

</div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/liquidsoap.js"></script>
{% endblock js %}