<style>
<!--
.show-inline-header {
    -webkit-background-size: cover; /*for webKit*/
    -moz-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover; /*generic*/
}

.outline {
    color: #dedede;
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

.outline-white {
    color: #121212;
    text-shadow:  1px  1px 1px white,
                  1px -1px 1px white,
                 -1px  1px 1px white,
                 -1px -1px 1px white;
}
.show-inline-header h4,
.show-inline-header h6{
    margin: 0px 0px;
}
-->
</style>
<div class="modal-header show-inline-header" style="background-image: url('{{show.logo}}');">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h2 class="outline">{%if show.series %}{{ show.series.name }} <small>{{ show.name }}</small>{% else %}{{ show.name }}{% endif %}</h2>
   <h4 class="outline">{{ show.begin | datetimeformat }}</h4>
   <h6 class="outline">{% trans users=show.users|safe %}by {{ users }}{% endtrans %}</h6>
</div>
<div class="modal-body">
<div class="row-fluid">
<div class="span12">{{show.description | bbcode | safe }}</div>
</div>
<div class="row-fluid">
<div class="span12" ><p class="muted">
{% for tag in show.tags %}
<abbr title="{{ tag.tag.description }}">{{ tag.tag.name }}</abbr>
{% endfor %}</p></div>
</div>
</div>
<div class="modal-footer">
    {% if current_user in show.user %}<button class="btn" onclick="edit_show({{show.show}})">{% trans %}Edit{% endtrans %}</button>{% endif %}
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Close{% endtrans %}</button>
</div>