{% extends "base.html" %}
{% block content %}
<style>
<!--
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    background-image: url('http://i.imgur.com/SefuUN9.png');
}
-->
</style>
<div class="row-fluid">
    <div class="span12" style="text-align:center;">
        <h1 class="outline">404</h1>
        <h2 class="outline">Die Antwort ist Kadse</h2>
    </div>
</div>

{% endblock %}